@import './variable.scss';

$sy-font-family: $font-family;
$sy-primary-color:$primary-color;//主色
$sy-bg-color: $bg-color;//背景颜色
$sy-default-color:$default-color;//初始颜色
$sy-border-color:$border-color;//边框样色
$sy-info-color:$info-color;//信息
$sy-success-color:$success-color;//通过
$sy-warning-color:$warning-color;//警告
$sy-error-color:$error-color;//错误
$sy-disabled-color:$disabled-color;//禁止
$sy-ioc-color:$ioc-color;//图标颜色


// @import 'sy-chengjun-ui/packages/styles/modules.scss';



