$font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,SimSun,sans-serif;
$primary-color: #d5232f; //主色
$bg-color: #f6f6f6; //背景颜色
$default-color: #555; //初始颜色
$border-color: #ddd; //边框样色
$info-color: #2baee9; //信息
$success-color: #6C0; //通过
$warning-color: #febd03; //警告
$error-color: #e13d13; //错误
$disabled-color: #ccc; //禁止
$ioc-color: #aaa;
$table-bg:#f6f6f6;