$sy-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
$sy-primary-color:#409eff;//主色
$sy-bg-color: #f6f6f6;//背景颜色
$sy-default-color:#555;//初始颜色
$sy-border-color:#ddd;//边框样色
$sy-info-color:#2baee9;//信息
$sy-success-color:#18b566;//通过
$sy-warning-color:#f29100;//警告
$sy-error-color:#e13d13;//错误
$sy-disabled-color:#ccc;//禁止
$sy-ioc-color:#aaa;//图标颜色
